.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  
}
.logo{
  margin-left:60px;
  margin-bottom: 50px;
}
.logo2{
  margin-left:60px;
  margin-bottom: 20px;
}
.btn-primary {
  color: #fff;
  background-color: #15a5d2 !important;
  font-size: 14px !important;
  border-color: #007bff !important;
  font-weight: bold !important;
  border: none !important;
}
.btn-danger {
  color: #fff;
  background-color: #d1002794;
  border-color: #dc3545;
  border: none;
  font-weight: bold;
}
input {
  outline: 0 !important;
  border-width: 0 0 1px !important;
  border-color:rgba(86, 85, 85, 0.236) !important;
  margin-bottom: 15px;
}

.form-container {
  background: #fff;
  border-radius: 20px;
  padding: 30px 40px;
  max-width: 800px;
  margin: 0 auto;
  /* box-shadow: 0 15px 16px .17px rgba(0,0,0,0.05); */
}

h1 {
  text-align: center;
}