.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #c5d500;
  overflow: hidden;


  
}


.logo_container{
  background-color: white;
  text-align: center;

}
.mb-7{
  color: #534f66;
  font-size: 15px;

}
.logo{
  margin-top: 10px;
  width: 150px;
  margin-bottom: 10px;

}
.logo2{
  margin-bottom: 20px;
}
.btn-primary {
  background-color: transparent;
  font-size: 14px !important;
  font-weight: bold !important;
  border-radius: 20px;
  border: 2px solid white;
}
.btn-danger {
  color: #fff;
  background-color: #d1002794;
  border-color: #dc3545;
  border: none;
  font-weight: bold;
}
input {
  outline: 0 !important;
  border-width: 0 0 1px !important;
  border-color: rgb(255 255 255) !important;  margin-bottom: 15px;
}
::-webkit-input-placeholder {
  color:white !important;
}

.container{
  padding-right: 0px;
  padding-left: 0px;
}

.form-container {
  border-radius: 20px;
  padding: 30px 40px;
  max-width: 800px;
  margin: 0 auto;
  /* box-shadow: 0 15px 16px .17px rgba(0,0,0,0.05); */
}
.form-control{
  background-color: #c5d500;
  color:white
}

h1 {
  text-align: center;
}